@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-flexoki-base text-flexoki-text font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-flexoki-primary text-white border-2 border-flexoki-text shadow-neo px-4 py-2 font-bold transition-all hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-neo-sm;
  }
  .card {
    @apply bg-flexoki-surface border-2 border-flexoki-text shadow-neo p-4;
  }
}
